#avatar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    position: relative;

    width: 70%;
}

#avatar #avatar-image{
    font-size: 96pt;
    margin: 25pt 25pt 7pt;
}

#load-avatar-button a{
    text-decoration: none;
}

#load-avatar-button span{
    font-size: 13pt;
    color: #ffe682;
}

#load-avatar-button span:hover{
    font-size: 15pt;
}

.hidden{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 0;
}

.showed{
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0.6;
    transition: 0.2s ease-in-out;
    width: 70%;
    height: 30%;

    background-color: #111111;
    border-top-left-radius: 3pt;
    border-top-right-radius: 3pt;
    position: absolute;
    bottom: inherit;
}



