#rooms{
    height: 500pt;
    width: 600pt;
}

#rooms #header{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 10%;
}

#rooms-list{
    width: 100%;
    height: 75%;

    background-color: #c3d2e2;
}

#rooms #buttons{
    width: 100%;
    height: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#rooms #buttons button{
    width: 50%;
    height: 100%;

    font-size: 18pt;
}

#rooms-list ul{
    margin: 0px;
    padding: 0px;
}

.column-headings-block{
    width: 100%;
    height: 5%;
}

.column-headings-block table{
    width: 100%;
    height: 100%;
}

.column-heading{
     border: #ffe682 solid 1px;
}

