

#upload-package{
    margin-top: 25pt;
    border: #ffe682 solid 1pt;

    width: 90%;
    height: 30%;
}

#upload-package #package-info{
    width: 90%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#package-info input{
    width: 100%;
    margin-bottom: 3pt;
}

#package-info #choose-file{
    width: 0.1pt;
    height: 0.1pt;
    opacity: 0;
    position: absolute;
}

#upload-package-btn{
    width: 90%;
    color: #ffe682;
    background-color: #5a95e2;
    border: 1px solid #ffe682;
    padding: 5px 10px 6px 7px;
    font-family: SI, serif;
    text-shadow: 1px 1px 0 #000;
    font-size: 18pt;
    cursor: pointer;
    text-align: center;
}

#upload-package-btn:hover{
    transition: 0.15s;
    background-color: #186ca3;
}

#chosen-package-name{
    width: 90%;
    height: 10pt;

    font-size: 13pt;
    text-align: center;
}
