.gradient-body {
    background: linear-gradient(to bottom,#000451 0%,#183cf3 50%,#000451 100%);
    min-height:100vh;
    color: #fff;
}

.center-block {
    width: 400px;
    height: 500px;
    border: 1px solid #111;
    box-shadow: 0 0 10px rgba(0,0,0,.5);

    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:auto;
    background-color: #5a95e2;
}

@media (max-device-width: 720px) {
  .center-block {
      width: 100%;
      height: 100%;
  }
}

.center-block header{
    text-align: center;
}

.center-block button{
    color: #ffe682;
    background-color: transparent;
    border: 1px solid #ffe682;
    padding: 5px 10px 6px 7px;
    font-family: SI serif;
    text-shadow: 1px 1px 0 #000;
    font-size: 18px;
}


.center-block header h1{
    padding-top: 10px;
    font-family: SI, serif;
    font-size: 30pt;
    color: #ffe682;
    text-shadow: 1px 1px 0 #000;
}

.credentials-container{
    height: 250px;
    padding: 10px;
    text-align: center;
}

.credentials-container input{
    width: 100%;
}

.credentials-container button{
    width: 100%;
}

#authorization-box{
    display: none;
}

.switches{
    margin-top: 140px;
}


#reg_btn{
    float: left;
    width: 50%;
}

#auth_btn{
    float: right;
    width: 50%;
}

#sys-messages{
    color: darkred;
    margin: 0;
}

.interface{
    margin: auto;
    background-color: #5a95e2;
    height: 500pt;
    border: 1px solid #111;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

#title{
    width: 100%;
    height: 10%;
    text-align: center;
    padding: 5px 10px 6px 7px;
    font-family: SI serif;
    text-shadow: 1px 1px 0 #000;
    font-size: 36px;
    color: #ffe682;

}

#rooms-block{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    margin-right: 10px;
}

#main-block{
    display: flex;
    width: 1200px;
    flex-wrap: nowrap;
}

.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#rooms-list{
    width: 100%;
    height: 80%;
    background-color: #c3d2e2;
    /*background-color: #fffff9;*/
    border: 1px solid #111;
    /*box-shadow: -1 0 10px rgba(0,0,0,.5);*/
    /*padding-left: 0;*/
}

#buttons-block{
    display: flex;
    /*align-items: center;*/
    width: 100%;
}

#buttons-block p{
    width: 50%;
    margin: auto;
    height: 100%;
}

#buttons-block{
    height: 10%;
    /*margin-bottom: 20px*/
    /*padding: 0px;*/
    margin: auto;
}


#buttons-block p button{
    color: #ffe682;
    background-color: transparent;
    border: 1px solid #ffe682;
    padding: 5px 10px 6px 7px;
    font-family: SI serif;
    text-shadow: 1px 1px 0 #000;
    font-size: 18px;
    height: 99%;
    width: 100%;
    margin: auto;
}

#chat-block{
    padding: 0px;
}



#live-chat{
    width: 100%;
    height: 80%;
    background-color: #c3d2e2;
    /*background-color: #fffff9;*/
    border: 1px solid #111;
    /*margin-top: 26%;*/
    /*box-shadow: -1 0 10px rgba(0,0,0,.5);*/
    /*padding-left: 0;*/
}

.tab{
    width: 50%;
    height: 100%;
    /*margin-bottom: 26%;*/
    background-color: #5a95e2;
    border: 1px solid #ffe682;
    /*display: flex;*/
    text-align: center;
}

#tabs{
    display: flex;
    height: 10%;
}

.tab #chat-title{
    color: #ffe682;
    padding-top: 7px;
    font-family: SI serif;
    text-shadow: 1px 1px 0 #000;
    font-size: 36px;

}

#lock-img{
    max-width: 50px;
    max-height: 50px;
    padding: 0px;
    margin: auto;
    justify-content: flex-start;
    border: 1px solid red;
}

.room{
    /*display: flex;*/
    /*justify-content: space-between;*/
    border: 1px solid blue;
    height: 50px;
}

.room-el{
    display: flex;
    margin: 30px;
    height: 50px;
    border: 1px solid green;
}

/*#lock-img{*/
    /*height: 80px;*/
    /*width: 80px;*/
    /*padding: 8px;*/
    /*margin: 0px;*/
/*}*/

#input-field input{
    height: 100%;
    width: 100%;
}

div #input-field{
    height: 50%;
    margin: auto;
}

#send-button input{
    width: 100%;
    height: 50%;
}

form #snd-msg-form{
    position: absolute;
    /*margin-top: 5px;*/
    margin: 0px;
}

.room-headings{
    /*display: flex;*/
    /*justify-content: space-around;*/
    /*height: 40px;*/
    /*align-items: center;*/
    border: blueviolet solid 1px;
}

.heading span{
    padding: 10px;
    text-align: center;

}

.heading{
    text-align: center;
    border: black solid 1px;
}

body{
    display: flex;
}






