.package{
    width: 100%;
    height: 20pt;

    margin-bottom: 5pt;

    border: blue solid 1px;
    background-color: transparent;

    cursor: pointer;
    color: #111111;

    text-align: center;

    list-style-type: none;
}

.selected{
    background-color: #633bf3;
}