.player{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    width: 90%;
    height: 20%;
    /*margin-left: 5pt;*/
    font-size: 15pt;
}

.fas{
    text-align: center;
    width: 10%;
    height: 100%;
    margin-top: 2pt;
}

.player #user-login{

    height: 100%;
    margin: 0 0 0 8pt;
}