#main-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.main-menu-element{
    background-color: #5a95e2;
    border: 1px solid #111;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.block-title{
    text-align: center;
    font-family: SI, serif;
    text-shadow: 1px 1px 0 #000;
    font-size: 36px;
    color: #ffe682;
}