.gradient-body {
    background: linear-gradient(to bottom, #000451 0%, #183cf3 50%, #000451 100%);
    min-height:100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.center-block {
    width: 400px;
    height: 500px;
    border: 1px solid #111;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    max-width:100%;
    max-height:100%;
    background-color: #5a95e2;
}

.mb-el{
    width: 100%;
    height: 50%;
}

@media screen and(max-width: 720px) {
  .center-block {
      width: 100%;
      height: 100%;
  }
}

.center-block header{
    text-align: center;
}

.center-block button{
    color: #ffe682;
    background-color: transparent;
    border: 1px solid #ffe682;
    padding: 5px 10px 6px 7px;
    font-family: SI, serif;
    text-shadow: 1px 1px 0 #000;
    font-size: 18px;
}


.center-block header h1{
    padding-top: 10px;
    font-family: SI, serif;
    font-size: 30pt;
    color: #ffe682;
    text-shadow: 1px 1px 0 #000;
}

.credentials-container{
    padding: 10px;
    text-align: center;
}

.credentials-container input{
    width: 100%;
}

.credentials-container button{
    width: 100%;
}

#authorization-box{
    display: none;
}

.switches{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.auth-reg-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 0;
    margin: 0;
}

.auth-reg-btns button{
    margin: 0;
}

#reg_btn{
    float: left;
    width: 50%;
}

#auth_btn{
    float: right;
    width: 50%;
}

#sys-messages{
    color: darkred;
    margin: 0;
}

.interface{
    background-color: #5a95e2;
    height: 500pt;
    border: 1px solid #111;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

#title{
    width: 100%;
    height: 10%;
    text-align: center;
    padding: 5px 10px 6px 7px;
    font-family: SI, serif;
    text-shadow: 1px 1px 0 #000;
    font-size: 36px;
    color: #ffe682;

}

#rooms-block{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0;
    margin-right: 10px;
}

#main-block{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#rooms-list{
    width: 100%;
    height: 80%;
    background-color: #c3d2e2;
    border: 1px solid #111;
}

#buttons-block{
    display: flex;
    width: 100%;
    height: 10%;

}

#buttons-block p{
    width: 50%;
    margin: auto;
    height: 100%;

}

#buttons-block p button{
    color: #ffe682;
    background-color: transparent;
    border: 1px solid #ffe682;
    padding: 5px 10px 6px 7px;
    font-family: SI, serif;
    text-shadow: 1px 1px 0 #000;
    font-size: 28px;
    height: 99%;
    width: 100%;
    margin: auto;
}

#buttons-block p #enter-room{
    background-color: #717f95;
}

#chat-block{
    padding: 0;
}

#live-chat{
    width: 100%;
    height: 80%;
    background-color: #c3d2e2;
    border: 1px solid #111;
}

.tab{
    width: 50%;
    height: 100%;
    background-color: #5a95e2;
    border: 1px solid #ffe682;
    text-align: center;
    cursor: pointer;
}

.tab:hover{
    transition: 0.3s;
    background-color: #186ca3;
}

#tabs{
    display: flex;
    height: 10%;
}

.tab #chat-title{
    color: #ffe682;
    padding-top: 7px;
    font-family: SI, serif;
    text-shadow: 1px 1px 0 #000;
    font-size: 36px;

}

#lock-img{
    max-width: 20px;
    max-height: 20px;
    padding: 0;
    margin: auto;
    justify-content: center;
    border: 1px solid red;
}

.room{
    height: 50px;
}

.room-el{
    display: flex;
    margin: 30px;
    height: 50px;
}

#input-field input{
    height: 100%;
    width: 100%;
    margin: 0;
}

#input-field{
    height: 50%;
    margin: auto;
}

#send-button button{
    width: 100%;
    height: 100%;
    color: #ffe682;
    background-color: #5a95e2;
    border: 1px solid #ffe682;
    padding: 5px 10px 6px 7px;
    font-family: SI, serif;
    text-shadow: 1px 1px 0 #000;
    font-size: 18px;
}

#send-button{
    height: 100%;
    width: 100%;
}

#snd-msg-form{
    position: absolute;
    margin: 0;
    width: 100%;
}

.heading span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    text-align: center;
    line-height: 1;
    border-left: 2px solid #ffe682;
    word-wrap: break-word;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content th{
    border: 2px solid #ffe682;
    border-right: 1px solid #ffe682;
}

.content tr{
    border-right: 2px solid #ffe682;

}

.heading{
    height: 40px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading span{
    margin: 0;
}

.content table{
    width: 100%;
}

.room-headings{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



#profile-tab{
    display: flex;
    align-items: center;
}

.avatar{
    margin-left: 5px;

}

#username{
    margin: 3px;
    font-family: SI, serif;
    text-shadow: 1px 1px 0 #000;
    font-size: 18px;
    max-height: 100%;
    color: #ffe682;

}

.user-profile{
    display: none;
    height: 80%;
    width: 100%;
}

.rooms ul{
    display: flex;
    justify-content: flex-start;
    padding: 0;
}

#room-name{
    width: 35%;
}

#is-locked{
    width: 6.5%;
    border: 1px black;
}

#room-index-hd{
    width: 10%;
}

.content table, tbody, tr{
    width: 100%;
}

#players-amount{
    width: 13.5%;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    border-right: none;
}

#players-amount span{
    text-align: center;
    margin: 0;
    word-wrap: break-word;
}

#package-name{
    width: 35%;
}

.players{
    width: 13.5%;
}



.room-el{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.rooms ul li{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: blue solid 1px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
    list-style-type: none;
    padding: 0;
    justify-items: flex-start;
    cursor: pointer;
}

.rooms ul li:hover{
    transition: 0.1s;
    background-color: #4a7ee6;
}

.rooms ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.locker{
    width: 6.5%;
}

.room-index{
    width: 10%;
}

.name{
    width: 35%;
}

.package{
    width: 35%;
}

#rooms-list table{
    text-align: center;
    font-family: SI, serif;
    text-shadow: 1px 1px 0 #000;
    font-size: 18px;
    color: #ffe682;
    letter-spacing: 1px;
}

.user-profile #profile-avatar img{
    max-width: 150px;
    max-height: 150px;
    margin: 0;
}

.user-profile #profile-avatar{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.user-profile #profile-avatar .avatar-uploader{
    height: 0;
    width: 150px;
    background-color: #111111;
    opacity: 0;
    position: absolute;
    bottom: inherit;
}

.avatar-uploader{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.avatar-uploader p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.avatar-uploader p a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    color: #ffe682;
}

.avatar-uploader p a:hover{
    transition: 0.2s;
    color: #ffb21b;
    font-size: 18px;
}

.profile-el{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

.profile-el form{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.profile-el form input, button{
    margin-top: 3px;
    margin-bottom: 3px;
}

.profile-el form button{
    margin-top: 6px;
    margin-bottom: 3px;
    font-size: 22px;
}

button{
    cursor: pointer;
}

#add-bot button{
    color: #ffe682;
    background-color: transparent;
    border: 1px solid #ffe682;
    padding: 5px 10px 6px 7px;
    font-family: SI, serif;
    text-shadow: 1px 1px 0 #000;
    font-size: 18px;
    cursor: pointer;
}

#send-pass{
    color: #ffe682;
    background-color: transparent;
    border: 1px solid #ffe682;
    padding: 5px 10px 6px 7px;
    font-family: SI, serif;
    text-shadow: 1px 1px 0 #000;
    font-size: 24px;
    cursor: pointer;
}

#send-pass:hover{
    transition: 0.3s;
    background-color: #186ca3;
}

#add-bot button:hover{
    transition: 0.3s;
    background-color: #186ca3;
}

button:hover{
    transition: 0.3s;
    background-color: #186ca3;
}

.creation-menu{
    display: none;
    height: 90%;
    width: 100%;
}

.divider{
    height: 100%;
    display: flex;
    justify-content: center;
}

.wrapper .one{
    width: 55%;
}

.wrapper .two{
    width: 45%;
}

.wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cm-el .text{
    text-align: center;
    font-family: SI, serif;
    text-shadow: 1px 1px 0 #000;
    font-size: 36px;
    color: #ffe682;
}

#back-btn{
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    font-size: 24px;
    color: #ffe682;
    margin-right: 10px;
}

#back-btn-wrapper{
    justify-content: flex-start;
    margin-left:  20px;

}

#back-btn-wrapper div{
    justify-content: flex-start;
    cursor: pointer;
}

#back-btn-wrapper div:hover > #back-btn, #back-btn-wrapper div:hover > .back-text{
    transition: 0.3s;
    text-shadow: 3px 3px 5px #186ca3;
}

.cm-el{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cm-el #block-title{
    font-size: 56px;
    margin: 10px;
}

.cm-el input{
    margin: 5px;
    width: 85%;
    height: 35px;
    font-size: 22px;
}

.cm-el #room-link{
    border: #ffe682 solid 1px;
    margin-top: 10px;
    font-size: 28px;
    padding: 6px;
}

.cm-el #link-span{
    margin-top: 40px;
    font-size: 36px;
}

.divider-elements{
    margin-top: 50px;
}

.two .divider-elements{
    margin-top: 20px;
}

.players-ready{
    height: 100%;
    width: 100%;
    border: #ffe682 solid 2px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.two .divider-elements{
    height: 80%;
    width: 90%;
}

.cm-el ul{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.cm-el ul li{
    width: 100%;
    list-style-type: none;
    border: #ffe682 solid 1px;
    margin: 0;
    padding: 3px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.cm-el button{
    width: 100%;
    height: 100%;
}


.ready-list{
    height: 80%;
    width: 100%;
}

.cm-el li .nickname{
    margin-left: 8px;
    padding-top: 2px;
}

.cm-el #add-bot-btn{
    font-size: 24px;
}

.cm-el li .player-type{
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-btn:hover, .create-btn:hover{
    transition: 0.3s;
    background-color: #186ca3;
}


#send-button button:hover{
    transition: 0.3s;
    background-color: #186ca3;
}

.rooms ul{
    max-height: 100%;
    overflow: auto;
}

@media screen and (max-width: 990px) {
    #chat-block{
        display: none;
    }

    #room-name, #package-name, .name, .package{
        width: 25%;
    }

    #players-amount, .players{
        width: 27%;

    }

    #room-index-hd .room-index{
        width: 15%;
    }

    #is-locked .locker{
        width: 8%;
    }

    #rooms-block{
        position: fixed;
    }
}

@media screen and (max-width: 767px){
    #main-block, body, .main-wrapper{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        position: relative;
    }

    .center-block{
        margin: 0;
        height: 100%;
        width: 100%;
    }


    #main-block{
        height: 100%;
        margin: 0;
        padding: 0;
        position: relative;
    }

    #rooms-block{
        height: 100%;
        width: 100%;
        margin: 0;
        position: fixed;
    }

    #room-name, #package-name, .name, .package{
        width: 25%;
    }

    #players-amount, .players{
        width: 27%;

    }

    #room-index-hd .room-index{
        width: 15%;
    }

    #is-locked .locker{
        width: 8%;
    }

    *{
        font-size: calc(100% - 1%);
    }

    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

    }

    .wrapper .divider{
        line-height: 0.8;
        font-size: 22px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        margin: 0;
    }

    .wrapper .one{
        height: 80%;
    }

    .wrapper .two #section-name{
        margin-top: 5px;
    }

    .wrapper .divider-elements{
        margin: 0;
    }

    .cm-el{
        margin: 0;
    }

    .cm-el #link-span{
        margin-top: 10px;
    }

    .ready-list ul{
        overflow-y: auto;
    }
}

.wrapper .one #room-link{
    cursor: pointer;
}

.headings{
    padding: 0;
    border: 2px solid #ffe682;
    width: 100%;
    margin: 0;
}

.room span{
    display: flex;
    justify-content: center;
    align-items: center;

}

.interface #title #game-rooms{
    margin-left: 30px;
}

.burger{
    float: right;
    margin-top: 10px;
}

.selected{
    background-color: #633bf3;
}

#rooms-list{
    overflow-y: auto;
}

@media screen and (min-width: 990px){
    .burger{
        display: none;
    }
}

@media screen and (max-width: 650px) {
    #chat-block{
        transform: scale(0.9);
    }
}

.burger{
    cursor: pointer;
}

.room{
    box-shadow: 1px 1px 6px #111111;
}

.auth-row{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

 #chat-block{
     max-height: 100vh;
 }


 #user-list .players-list{
     height: 42.5%;
     margin-top: 0;
 }
 .two{
     flex-direction: column;
 }

 .package-name{
     margin-left: 15px;
 }

 #user-list .packages{
     height: 42.5%;
     margin-top: 20px;
 }

 #user-list{
     justify-content: unset;
 }

 ::-webkit-scrollbar{
     display: none;
 }

 .ready-list{
     overflow-y: auto;
 }

 .packages li{
     cursor: pointer;
 }

 .packages li:hover{
     background-color: #186ca3;
     transition: 0.3s;
 }

.user-profile .avatar{
    font-size: 100pt;
}

.user-profile #profile-username{
    font-size: 18pt;
    text-align: center;
}

.user-profile #profile-username span{
    padding-left: 20px;
    padding-right: 20px;
}

#profile-tab .avatar{
    font-size: 26px;
    margin-right: 15px;
}

#profile-tab span, #profile-tab .avatar{
    text-align: center;
}

#profile-tab{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.user-profile{
    overflow-y: auto;
    height: 90%;
}

.package-manager .packages{
    height: 300px;
}


.package-manager .ready-list{
    height: 90%;
}

#pass-change{
    margin: 0;
}

.package-manager{
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

.package-manager #add-bot{
    height: 100%;
    width: 50%;
    display: inline-block;
}

.manager-btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.package-uploader{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    width: 400px;
    height: 150px;
    background-color: #5a95e2;
    border: 2px solid #ffe682;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.upload-package button{
    color: #ffe682;
    background-color: transparent;
    border: 1px solid #ffe682;
    padding: 5px 10px 6px 7px;
    font-family: SI, serif;
    text-shadow: 1px 1px 0 #000;
    font-size: 18px;
}

.upload-file input{
    color: #ffe682;
    background-color: transparent;
    padding: 5px 10px 6px 7px;
    font-family: SI, serif;
    text-shadow: 1px 1px 0 #000;
    font-size: 18px;
}

.upload-package button:hover{
    transition: 0.3s;
    background-color: #186ca3;
}

.package-uploader .block-name span{
    text-align: center;
    font-family: SI, serif;
    text-shadow: 1px 1px 0 #000;
    font-size: 28px;
    color: #ffe682;
}


#upload-package{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#upload-package div{
    width: 80%;
    margin-bottom: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#upload-package button{
    width: 100%;
}

#upload-package .upload-package{
    margin-bottom: 0;
    margin-top: auto;
    width: 100%;
    border-left: none;
    border-right: none;
}

#upload-package .upload-package button{
    margin: 0;
}

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

::-webkit-scrollbar {
    width: 0;
}
::-webkit-scrollbar-track-piece {
    background-color: transparent;
    -webkit-border-radius: 6px;
}

.package-uploader .block-name{
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-btn{
    margin-left: auto;
    margin-right: 5px;
    cursor: pointer;
}

.manager-name{
    margin-left: auto;
}
