{% extends "layout.html" %}

{% block head %}
    <title>Своя Игра</title>
{% endblock %}

{% block body %}
    <body class="gradient-body">
        <div class="interface col-lg-10" id="rooms-block">
            <header class="header" id="title"><span id="game-rooms">Игровые комнаты</span></header>
            <div class="content" id="rooms-list">
                <div class="room">
                    <div class="room-el"><img  id="lock-img" src="{{ url_for('static', filename='img/lock.png') }}" alt="Комната защищена паролем" id="locked"></div>
                    <div class="room-el"><span id="room-index">1.</span></div>
                    <div class="room-el"><span id="name">Саня, ты в порядке?</span></div>
                    <div class="room-el"><span id="package">Аниме пак</span></div>
                    <div class="room-el"><span id="players">2/3</span></div>
                </div>
            </div>

            <div id="buttons-block">
                <p><button id="enter-room">Войти в комнату</button></p>
                <p><button id="create-room">Создать комнату</button></p>
            </div>
        </div>

        <div class="interface col-lg-3" id="chat-block">
            <div id="tabs">
                <div class="tab" id="chat-tab"><span id="chat-title">Чат</span></div>
                <div class="tab" id="profile-tab"><span id="username"></span></div>
            </div>

            <div class="content" id="live-chat"></div>

        </div>
    </body>
{% endblock %}