button{
    width: 100%;
    height: 100%;
    color: #ffe682;
    background-color: #5a95e2;
    border: 1px solid #ffe682;
    padding: 5px 10px 6px 7px;
    font-family: SI, serif;
    text-shadow: 1px 1px 0 #000;
    font-size: 18px;
}

body{
    background: linear-gradient(to bottom, #000451 0%, #183cf3 50%, #000451 100%);
    min-height:100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@font-face{
    font-family:SI;
    src: url('fonts/FuturaC.woff') format('woff');
    font-weight: normal;
    font-style:normal;
}