.sign-form{
    width: 400px;
    height: 500px;
    border: 1px solid #111;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    max-width:100%;
    max-height:100%;
    background-color: #5a95e2;
}

.title{
    padding-top: 10px;
    font-family: SI, serif;
    font-size: 30pt;
    color: #ffe682;
    text-shadow: 1px 1px 0 #000;
}